@page
@model Proyecto.App.Presentacion.Acudientes.EditModel
@{
    ViewData["Title"] = "Datos Acudiente";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Editar Acudiente</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-danger">
                <!-- se envía campo de la PK oculto -->
                <input type="hidden"  asp-for="acudiente.Codigo" />

                <div class="container" style="padding: 50px">

                    <div class="acud-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="acudiente.Codigo"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="acudiente.Codigo" class="form-control" />
                            </div>
                            <span asp-validation-for="acudiente.Codigo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="acud-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="acudiente.NombreCompleto"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="acudiente.NombreCompleto" class="form-control" />
                            </div>
                            <span asp-validation-for="acudiente.NombreCompleto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="acud-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="acudiente.Telefono"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="acudiente.Telefono" class="form-control" />
                            </div>
                            <span asp-validation-for="acudiente.Telefono" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="acud-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="acudiente.Direccion"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="acudiente.Direccion" class="form-control" />
                            </div>
                            <span asp-validation-for="acudiente.Direccion" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="acud-group">
                        <div class="row">
                            <div class="col-sm-2 offset-sm-2"> 
                                <input type="submit" value="Actualizar" class="btn btn-success acud-control" />
                            </div>
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>