@page
@model IndexModel
@{
    ViewData["Title"] = "Centro Medico";
}

<div class="text-center" style="background-image: url('imagenes/imagensalud.jpg');background-repeat: no-repeat;background-size: cover;">
    <h1 class="display-4" style="color:white;background-color:#154879">Centro Medico </h1>
    <h2>Hola!, esta plataforma esta diseñada para consultar,crear,editar o eliminar tu cita.</h2>
    <body background="https://revistatravelmanager.com/wp-content/uploads/2020/02/salud-viajes-1.jpg">
        
	</body>
    

    <div style=" text-align: right;"> 

    <center><img  height ="200px"  src="imagenes/LogoConsulta-g03.png " alt="imagen de doctor" ></center>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>


    </div>
    

</div>
